@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-1">#STAYHOME</h1>
    <p style="font-size: 30px;">Enjoy the panel while you are informing yourself about Coronavirus disease.</p><br />
</div>

<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/covid19_image.tif" class="d-block" alt="covid19_image" style="max-height: 400px; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="~/lab_man.tif" class="d-block" alt="lab_man" style="max-height: 400px; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="~/world_map.png" class="d-block" alt="world_map" style="max-height: 400px; margin: 0 auto;">
            </div>
            <div class="carousel-item">
                <img src="~/chart_image.png" class="d-block" alt="chart_image" style="max-height: 400px; margin: 0 auto;">
            </div>
        </div>
    </div>
</div>

<br />

<div class="container" style="font-size: 20px;">
    
    <p>What can you with the panel? For example: </p>
    
    <ul>
        <li>You can learn "What is the Coronavirus?", "How can you prevent from it?", and "What kind of symptoms you probably show when you infected Coronavirus?", </li>
        <li>You can see the world <mark>map</mark> that shows us the global cases and deaths,</li>
        <li>You can see country by country, day by day datas by using <mark>charts</mark> tab,</li>
        <li>You can be aware of the globe by using <mark>news</mark> tab.</li>
    </ul>
</div>
