
@{
    ViewData["Title"] = "Charts";
}

    
<h1>Charts</h1>
       
<h3>Charts of The Specific Country</h3>
        
<label for="countryDropDownList" style="font-size: 20px;">Choose a country:</label>
<select id="countryDropDownList"></select>
<button id="drawChartButton">Draw the charts</button>

<br />

<div id="chartDiv" style="width: 1500px; height: 500px;"></div>
<div id="cumulativeChartDiv" style="width: 1500px; height: 500px;"></div>